*{
  margin: 0;
  padding: 0;
}
body{
  color: #353a40;
  background-color: #353a40;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
a{
  font-family: 'Pirata One';
  font-size: 25px;
}
h3{
  color: #aea04b;
  text-align: center;
}
h4{
  font-family: 'Helvetica-Normal';
  font-size: 10px;
}
h5{
  font-family: 'Sunday Morning Personal Use';
  color: #fff;
}
h6{
  font-family: 'Helvetica-Normal';
  color: #fff;
  background-color: #353a40; /* 50% opacity black background will keep your text fully opaque */
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px; /* round out the corners of your shape */
}
.container{
	padding-top: 50px;
}
div.right {
  font-family: 'Pirata One';
  position: absolute;
}
hr{
	width: 300px;
  border: 3px solid #434444;
}

/* Product Grid */
.product-grid{
	padding-bottom: 20px;
	padding-top: 20px;
}
.product-grid:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image{
	position: relative;
}
.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #aea04b;
}
.image:hover .overlay{
	opacity: 1;
}
.detail{
	color: #fff;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.buy{
	background-color: transparent;
	color: #fff;
	border-radius: 0;
	border: 1px solid #434444;
	width: 100%;
	margin-top: 20px;
}
.buy:hover{
	background-color: #aea04b;

	color: #fff;
}
.footer {
  background: #353a40;
  color: #fff;
  height: 300px;
  position: relative;
}

.footer .footer-bottom {
  background: #353a40;
  color: #686868;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}
.row{
  height: 100%;
  text-align: center;
}
.col{
  padding-top: 10px;
}
.col-{
  adding-top: 100px;
}
.center {

  width: 50%;
  padding: 10px;
}
h7{
  padding-top: 20px;
}
/*------------------------------------*/
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: #333;
  color: #fff;
}

@media(max-width: 992px) {
  .container { padding: 20px 100px; }
  #back-to-top-btn { font-size: 22px; width: 40px; height: 40px; bottom: 15px; right: 15px; }
}
@media(max-width:768px) {
  body { font-size: 16px; }
  .container { padding: 10px 50px; }
  h1 { font-size: 26px; }
  h2 { font-size: 22px; }
  hr { margin: 30px 0; }
  #back-to-top-btn { font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px; }
}

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
